<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <script src="https://kit.fontawesome.com/1c6e0477b8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <title>Meet-Zone</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon2.ico" type="image/x-icon">
    <style>
        #video-grid {
            display: flex;
            justify-content: center;
            /* align-items: center; */
            flex-wrap: wrap;
            /* margin-top: 6%; */
        }

        video {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            height: 90%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            padding: 2px;
            /* margin-right: 5%;
            margin-bottom: 3%; */
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="main_left">
            <div class="main__videos">
                <div id="video-grid">

                </div>
                <div class="self" id="self-video-box" style="position: fixed;
                top: 10px;
                left: 10px;
                height: 160px;
                width: 160px;
                border-radius: 50%;
                object-fit:cover">
                </div>
            </div>
        </div>
        <div class="main_right">
            <div class="main__header">
                <h3 style="color: rgb(0, 0, 0);margin-left: 7%;font-weight: 100;">In-call messages</h3>
                <h5 class="message_info">Messages sent here
                    can be
                    seen by
                    everyone in the
                    call
                </h5>
            </div>
            <div id="main_chat_window">
                <ul class="messages">

                </ul>

            </div>
            <div class="main_message_container">
                <form id="form" action=""
                    style="width:100%;margin-left: 7%;border-radius: 15px;background-color: #e0dddd;">
                    <input id="input" placeholder="Send a message" autocomplete="off"></input>
                    <!-- <input id="submit" type="submit" value="➡️"> -->
                    <i onclick="sendMsg()" id="submit" class="fa-solid fa-paper-plane fa-lg"></i>
                </form>
            </div>
        </div>
    </div>
    <div class="call-action-div">
        <div id="left-bottom-time">
            <p><span id="time"></span></p>
        </div>
        <div class="control-option">
            <!-- <button id="micBtn" onclick="muteAudio()">🎙️ Mic On</button>
            <button id="cameraBtn" onclick="muteVideo()">📷 Camera On</button> -->
            <i id="micBtn" onclick="muteAudio()" class="fa-solid fa-microphone fa-2xl"></i>
            <i id="cameraBtn" onclick="muteVideo()" class="fa-solid fa-video fa-2xl"></i>
            <i id="hangBtn" onclick="hangCall()" class="fa-solid fa-phone-slash fa-2xl" style="color: #ff0000;"></i>
        </div>
    </div>
</body>

</html>
