body {
    background-color: #2d2d2d;
}

#micBtn,
#cameraBtn,
#hangBtn {
    /* margin-top: 2%; */
    padding: 1%;
    color: rgb(171, 164, 164);
}

#micBtn:hover,
#cameraBtn:hover,
#hangBtn:hover {
    cursor: pointer;
}


.main {
    /* display: inline-block; */
    height: 97vh;
    display: flex;
}


.main_left {
    flex: 0.75;
    display: flex;
    flex-direction: column;
}

.main__videos {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main_right {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    background-color: #f5efef;
    border-radius: 10px;
    padding-right: 1%;
    height: 90%;
}

#main_chat_window {
    flex-grow: 1;
    overflow-y: auto;
    padding: 5 10px;
    width: auto;
    height: 80%;
}

.main_message_container {
    display: flex;
    margin-bottom: 10%;
    padding-right: 3%;
}

.message_info {
    text-align: center;
    margin-left: 6%;
    background-color: #e0dddd;
    padding: 3%;
    border-radius: 12px;
    font-weight: lighter;
}

#input {
    padding: 4% 0 4% 4%;
    /* border-radius: 27px; */
    border: none;
    outline: none;
    font-family: Arial;
    margin-left: 4.5%;
    background-color: #e0dddd;
    float: left;
    width: 75%;
}

#submit {
    float: right;
    /* padding: 3%; */
    padding-top: 6%;
    padding-right: 5%;
    border-color: #292929;
}


li {
    color: black;
    font-size: 1.1rem;
    overflow-wrap: break-word;
    margin-top: 3px;
    list-style-type: none;
    padding-top: 1%;
    padding-left: 3%;
}

li::before {
    content: "\00BB";
}

p {
    color: white;
    margin-left: 3%;
    font-size: large;
    font-weight: bold;
}

.call-action-div {
    position: absolute;
    bottom: 2%;
    justify-content: center;
    width: 99%;
}

#left-bottom-time {
    float: left;
    height: auto;
    width: auto;
    margin-left: 2%;
}

.control-option {
    align-items: center;
    height: inherit;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    gap: 50%;
}
