body {
    background-color: #2d2d2d;
}

button {
    margin-top: 2%;
    padding: 1%;
    border-radius: 15px;
    background-color: #201e1e;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(199, 80, 20);
}

.call-action-div {
    display: flex;
    gap: 0.5%;
    justify-content: center;
    width: 99%;
}

.main {
    /* display: inline-block; */
    /* height: 100%; */
    display: flex;
}

.main_right {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    background-color: #f5efef;
    border-radius: 10px;
    padding-right: 3%;
}

.main_left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

#main_chat_window {
    flex-grow: 1;
    overflow-y: auto;
    padding: 22px 10px;
    width: 220px;
}

.main_message_container {
    display: flex;
    margin-bottom: 10%;
    padding-right: 3%;
}

.message_info {
    text-align: center;
    margin-left: 6%;
    background-color: #e0dddd;
    padding: 3%;
    border-radius: 12px;
    font-weight: lighter;
}

#input {
    padding: 4% 0 4% 4%;
    border-radius: 27px;
    font-family: Arial;
    margin-left: 2%;
    background-color: #e0dddd;
    float: left;
    width: 75%;
}

#submit {
    float: right;
    padding: 3%;
    background-color: #e0dddd;
    border-color: #292929;
}

li {
    color: black;
    font-size: 1.1rem;
    overflow-wrap: break-word;
    margin-top: 5px;
    /* list-style-type: none; */
}